@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

  }
 

body {
    background-color: black;
    height: 100vh;
    
  }
  /* INTRO HEADER */

  .intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400;
  }

  .header {
    position: relative;
    color: aquamarine; 
    font-size: 30px;
    font-weight: 600;
    

  }

  .header::before{
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    height: 80%;
    width: 100%;
    background-color: black;
    border-left: 2px solid aquamarine; 
    animation: typewriter 4s steps(var(--steps, 12))  2 forwards,
    blink 500ms steps(12) 20 forwards;
  
    
  }

    /* PROJECT MODULES */
  
  .project-container {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 4em;
    margin: 0 auto;
    margin-top: 100px;
  }
  .project {
    position: relative;
    width: 400px;
    height: 250px;
    background-color: rgb(18, 18, 18);
    opacity: 0;
    border-radius: 10px;
    transform: scale(0.5);
    animation-name: fade-in;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
  
    
  }
  .project-title{
 
    color: white;
    background: linear-gradient(to left, #1EFFAE, transparent 33%);
    text-align: right;
    padding-right: 5px;

  }
  .project-description {
    position: absolute;
    color: white;
    text-align: right;
    right: 0;
    padding-top: 5px;
    padding-right: 8px;
    width: 65%;

  }
  .project-button {
    position: absolute;
    bottom: 15;
    right: 30;

    color: white;
    background: linear-gradient(to bottom, #094c74, #0adf91 40%); 
    font-family: 'Kanit', sans-serif; 
    font-size: 150%;
    font-weight: 600;
    padding: 5px 5px;
    border: none;

    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;

  }

  .project:nth-child(1) {
    animation-delay: 2s;
  }
  .project:nth-child(2) {
    animation-delay: 2.5s;
  }
  .project:nth-child(3) {
    animation-delay: 3s;
  }
  .project:nth-child(4) {
    animation-delay: 3.5s;
  }

  @keyframes typewriter {
    0% {
        opacity: 1;
        
      }
      40%, 60% {
        left: 100%;
        opacity: 1;
      }
      90% {
        left: 100%;
        /* border-left: 4px; */
        opacity: 0;
        animation-timing-function: linear;
      }
      
    }
   

 @keyframes blink {
      to {
        border-left: 2px transparent;
      
        
      } 
    }

    @keyframes fade-in {
      0%{
        opacity: 0;
        transform: scale(0.5);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }