@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  background-attachment: fixed;
}
body {
  background-color: black;
  height: 250vh;

}

#bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Kanit', sans-serif;
  /* color: white; */
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, transparent 20%, white 40%, transparent 47%,transparent 53%, white 60%, transparent 80%);
  max-width: 1500px; /* set the maximum width of the container */
  margin: 0 auto;
  margin-top: 20px;


}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
  

}

.nav-links li {
list-style: none;

}
.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
}


.nav-links a:hover {
  animation: hover-grow 1s forwards;
}





/* INTRO HEADER */

.header-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150;
  z-index: -1;
}

.intro-header {
  position: relative;
  color: rgb(118, 252, 173);
  font-size: 30px;
  font-weight: 600;
  z-index: -1;
}



.intro-header::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  height: 80%;
  width: 100%;
  background-color: black;
  border-left: 2px solid aquamarine;
  animation: typewriter 4s steps(var(--steps, 16)) 2 forwards,
    blink 500ms steps(12) 20 forwards;


}

.music-header {
  position: relative;
  color: #00ffb3;
  font-size: 30px;
  font-weight: 600;
  z-index: -1;
  opacity: 0;
  margin-left: 100px;
  
}

.music-header.typewriter {
  
  opacity: 1;
  
}

.music-header::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  height: 80%;
  width: 100%;
  background-color: black;
  border-left: 2px solid  #00ffb3;
  animation: typewriter2 2s steps(var(--stepsMusic, 16)) 1 forwards,
    blink 500ms steps(12) 10 forwards;
}

/* PROJECT MODULES */

.project-container {
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 4em;
  margin: 0 auto;
  margin-top: 50;


}

.project {
  opacity: 0;
  position: relative;
  min-width: 600px;
  height: 300px;
  background: transparent;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, white, transparent);
  border-radius: 10px;
  backdrop-filter: blur(1.5px);
  /* transform: scale(0.5); 
  animation-name: fade-in;
  animation-duration: 1.3s;
  animation-fill-mode: forwards; */
  transform: translateX(-100%);
  filter: blur(5px);
  transition: all 1s;
  z-index: 9999;
}
.project-show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.project-title {
  position: relative;
  color: white;
  /* background: linear-gradient(to left, #1EFFAE, transparent 33%); */
  text-align: right;
  padding-right: 15px;
  padding-top: 15px;


}

.project-title::before {
  content: '';
  position: absolute;
  border-bottom: 2px solid #00ffb3;
  margin: 0 auto;
  width: 10%;
  height: 3px;
  right: 0;
  bottom: 0;
  margin-right: 15px;
  border-radius: 2px;
}

.project-image {
  position: absolute;
  float: left;
  width: 500px;
  height: 300px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  object-fit: cover;
  object-position: left;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-mask-image: linear-gradient(to left, transparent 30%, black);
  mask-image: linear-gradient(to left, transparent 40%, black);
  opacity: 1;
}
.project-image.database {
 opacity: 0.5;
}

.project-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: absolute;
  color: white;
  text-align: right;
  right: 0;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-right: 12px;
  width: 65%;

}

.project-button {
  position: absolute;
  bottom: 20;
  right: 30;

  font-family: 'Kanit', sans-serif;
  font-size: 150%;
  font-weight: 400;
  padding: 5px 5px;
  border: none;
  background-color: transparent;
  color: white;
  outline: 1px solid white;

  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  cursor: pointer;
}

.project-button:hover {
  animation: hover-grow 1s forwards;
}

.project-button:not(:hover) {
  animation: hover-shrink 1s forwards;
}


/* MUSIC MODULES */

.music-container {
  display: flex;
  max-width: 1300px;
  max-height: 2000px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6em;
  margin: 0 auto;
  margin-top: 50;
}


.music-container .song {
  opacity: 0;
  position: relative;
  min-width: 500px;
  height: 300px;
  background: transparent;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, white, transparent);
  border-radius: 10px;
  backdrop-filter: blur(1.5px);
  transform: translateX(-200%);
  filter: blur(5px);
  transition: all 1s;
  z-index: 9999;
  padding: 10px;
}

.music-container .music-image {
  position: absolute;
  width: 500px;
  height: 275px;
  border-radius: 10px;
  object-fit: cover;
  object-position: left;
  -webkit-mask-image: linear-gradient(to left, transparent 30%, black);
  mask-image: linear-gradient(to left, transparent 40%, black);
  opacity: 1;
}
.music-container .song-show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}
.music-container .song-title {
  position: relative;
  color: rgb(29, 255, 180);
  /* background: linear-gradient(to left, #1EFFAE, transparent 33%); */
  text-align: right;
  padding-right: 15px;
  padding-top: 15px;
}

.music-container .btn {
  position: relative;
  padding: 10px;
  width: 48px;
  cursor: pointer;
  display: inline-block;
  color: rgb(255, 255, 255); 
  font-size: 24px;

}


.music-container .volume-slider {
  width: 100px;
}

.music-container .buttons {
  position: relative;
  border: double 2px transparent;
  border-radius: 80px;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), radial-gradient(circle at top left, transparent 20%,#ffffff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  max-width: 270px;
top: 60%;

}

.music-container .buttons .play-btn .fa-pause {
  display: none;
}

.music-container .buttons .play-btn.playing .fa-pause {
  display: inline-block;
}

.music-container .buttons .play-btn.play-btn.playing .fa-play {
  display: none;
}

.music-container .buttons .mute-btn .fa-volume-xmark {
  display: none;
}

.music-container .buttons .mute-btn.muted .fa-volume-xmark {
  display: inline-block;
}

.music-container .buttons .mute-btn.muted .fa-volume-up {
  display: none;
}



@keyframes typewriter {
  0% {
    opacity: 1;

  }

  40%,
  60% {
    left: 100%;
    opacity: 1;
  }

  90% {
    left: 100%;
    opacity: 0;
    animation-timing-function: linear;
  }

}
@keyframes typewriter2 {
  0% {
    opacity: 1;

  }

  90% {
    left: 100%;
    opacity: 1;

  }
  100% {
    left: 100%;
    opacity: 0;
  }


}

@keyframes hover-grow {
  0% {
    transform: scale(1);

  }

  100% {
    transform: scale(1.1);

  }

}

@keyframes hover-shrink {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes blink {
  to {
    border-left: 2px transparent;


  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }


}  

@media screen and (max-width: 768px) {
  .header {
    font-size: 25px;
  }
  .project {
    min-width: 420px;
  }
  .nav-links {
    width: 80%;
  }
  nav {
    border-image-source: linear-gradient(to right, transparent 10%, white 25%, transparent 40%,transparent 65%, white 75%, transparent 90%);
  }
}